.card-btn{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #ffe13e;
    border-radius: 15px;
    border: white;
}
.card-btn:hover{
    color: black;
    background-color: white;
    border: 1px black solid;
}
.card-header{
    color: turquoise;
}
.judul-layanan{
    color: rgb(42, 42, 65);
}